<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RECLAMOS</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/sb-admin.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/font-awesome.min.css' />
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <p class="navbar-brand">Registro de Reclamos</p>
      </nav>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <br>
            <li>
                <a style="color:#FFF" href="/">Inicio</a>
            </li>
            <li>
                <a style="color:#FFF" href="../registroReclamo">Registrar Reclamo</a>
            </li>
            <li>
                <a style="color:#FFF" href="#">Concatenos</a>
            </li>
        </ul>
    </div>

      <div id="page-wrapper">

        <div align='center'>
          <table class="table table-hover" >
              <tr class="active">
                <%- body %>
              </tr>
          </table>
        </div>

      </div>
    </div>
  </body>
</html>
